h1{
    font-size: 50pt; 
    text-transform: uppercase
}

p{
    align-content: center;
    background: blue
}

img{
    border-radius: 20%;
    width: 30%; 
    height: 30%
}

body{
    font-family: Arial;
    background-image: url("https://goo.gl/9EtBc6");
}
